<h3 id="inscription">INSCRIPTION</h3>

<form id="form-inscription" action="">
  <input type="text" name="nom" placeholder="Nom" class="form-control" id="input-nom" required>
  <input type="text" name="prenom" placeholder="Prénom" class="form-control" id="input-prenom" required>
  <input type="text" name="email" placeholder="Adresse email" class="form-control" id="input-email" required>
  <input type="text" name="mdp" placeholder="Mot de passe" class="form-control" id="input-mdp" required>
  <input type="text" name="confirm-mdp" placeholder="Confirmation du mot de passe" class="form-control" id="input-confirm-mdp" required>
  <label class="container" id="role">
    Je suis un...
    <div class="form-check">
      <input class="form-check-input" type="radio" name="patient" id="patient">
      <label class="form-check-label" for="patient">
        Patient
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="specialiste" id="specialiste">
      <label class="form-check-label" for="specialiste">
        Spécialiste
      </label>
    </div>
  </label>
  <label class="container" id="cgu">
    <input name="input-cgu" type="checkbox" required>
    <span class="checkmark"></span>
    J'accepte les <a href src="" name="lien-cgu" id="lien-cgu" data-toggle="modal" data-target="#CGUPopUp">conditions générales d'utilisation</a>
  </label>
  <input type="submit" value="Valider" class="btn btn-info">
</form>

<p id="seconnecter">
  <a routerLink="/connexion" id="lien-connexion">Se connecter</a>
</p>
