#inscription {
  color:#0A7A87;
  text-align:center;
  margin-top:1%;
  margin-bottom:2%;
}

#form-inscription, #select-profil {
  text-align:center;
  margin-left:35%;
  width:30%;
}

#profil-user {
  text-align:center;
  margin-bottom:2%;
}

input.ng-invalid.ng-touched {
  border : 1px solid red;
}

#input-nom {
  text-align:center;
  text-transform: uppercase;
}

#input-prenom {
  text-align:center;
  text-transform: capitalize;
}

#input-age {
  text-align:center;
}

#input-adresse {
  text-align:center;
  text-transform: capitalize;
}

#input-specialite {
  text-align:center;
}

#input-email {
  text-align:center;
}

#input-mdp {
  text-align:center;
}

#input-confirm-mdp {
  text-align:center;
}

#role {
  margin-bottom:6%;
}

  #lien-cgu:link {
    color:#0A7A87;
  }

  #lien-cgu:visited {
    color:#0A7A87;
  }

  #lien-cgu:focus {
    background: none;
    text-decoration:none;
  }

  #lien-cgu:hover {
    background: none;
  }

#title-cgu{
    color :#0A7A87;
    margin-left:2em;
}

.text-cgu{
    text-align:justify;
}

#btn-fermer-cgu{
    background-color:#0A7A87;
    border:none;
}

#btn-valider {
  margin-top:4%;
}

#seconnecter {
  text-align:center;
  margin-top:1%;
  margin-bottom:3%;
}

  #lien-connexion:link {
    color:#0A7A87;
  }

  #lien-connexion:visited {
    color:#0A7A87;
  }

  #lien-connexion:focus {
    background: none;
    text-decoration:none;
  }

  #lien-connexion:hover {
    background: none;
    text-decoration:none;
  }
