<h3 id="inscription">INSCRIPTION</h3>

<div class="form-group" id="select-profil">
  <select class="form-control" id="profil-user" (change)="getProfilUser($event)">
    <option disabled selected>Vous êtes un...</option>
    <option value="patient">Patient</option>
    <option value="specialiste">Spécialiste</option>
  </select>
</div>

<form [hidden]="!getProfil" id="form-inscription" name="form-inscription" (ngSubmit)="inscription()">

  <input [(ngModel)]="nom" type="text" name="nom" placeholder="Nom" class="form-control" id="input-nom" title="50 caractères maximum" ngModel required #inputNom="ngModel">
  <span class="help-block text-danger" *ngIf="!inputNom.valid && inputNom.touched">Vous devez renseigner votre nom pour vous inscrire.</span>

  <input [(ngModel)]="prenom" type="text" name="prenom" placeholder="Prénom" class="form-control" id="input-prenom" title="50 caractères maximum" ngModel required #inputPrenom="ngModel">
  <span class="help-block text-danger" *ngIf="!inputPrenom.valid && inputPrenom.touched">Vous devez renseigner votre prénom pour vous inscrire.</span>

  <input [(ngModel)]="age" [hidden]="getProfil=='specialiste'" type="number" name="age" placeholder="Âge" class="form-control" id="input-age" min=1 ngModel required #inputAge="ngModel">
  <span class="help-block text-danger" *ngIf="!inputAge.valid && inputAge.touched">Vous devez renseigner votre âge pour vous inscrire.</span>

  <input [(ngModel)]="adresse" [hidden]="getProfil=='patient'" type="text" name="adresse" placeholder="Adresse du cabinet" class="form-control" id="input-adresse" ngModel required #inputAdresse="ngModel">
  <span class="help-block text-danger" *ngIf="!inputAdresse.valid && inputAdresse.touched">Vous devez renseigner l'adresse de votre cabinet pour vous inscrire.</span>

  <input [(ngModel)]="specialite" [hidden]="getProfil=='patient'" type="text" name="specialite" placeholder="Spécialité" class="form-control" id="input-specialite" title="Médecin généraliste, infirmier, ophtalmologue..." ngModel required #inputSpecialite="ngModel">
  <span class="help-block text-danger" *ngIf="!inputSpecialite.valid && inputSpecialite.touched">Vous devez renseigner votre spécialité pour vous inscrire.</span>

  <input [(ngModel)]="email" type="text" name="email" placeholder="Adresse email" class="form-control" id="input-email" pattern="[0-9a-z.-_]{2,}@[0-9a-z]{2,}.[a-z]{2,3}$" title="xx@xx.xx" ngModel required #inputEmail="ngModel">
  <span class="help-block text-danger" *ngIf="!inputEmail.valid && inputEmail.touched">Vous devez renseigner votre adresse email.</span>

  <input [(ngModel)]="password" type="password" name="mdp" placeholder="Mot de passe" class="form-control" id="input-mdp" ngModel required #inputPassword="ngModel">
  <span class="help-block text-danger" *ngIf="!inputPassword.valid && inputPassword.touched">Vous devez indiquer un mot de passe pour vous inscrire.</span>

  <input type="password" name="confirm-mdp" placeholder="Confirmation du mot de passe" class="form-control" id="input-confirm-mdp" ngModel required #inputConfirmPassword="ngModel">
  <span class="help-block text-danger" *ngIf="!inputConfirmPassword.valid && inputConfirmPassword.touched">Veuillez confirmer votre mot de passe.</span>

  <label class="container" id="cgu">
    <input name="input-cgu" type="checkbox" ngModel required #inputCgu="ngModel">
    <span class="checkmark"></span>
    J'accepte les <a href src="" name="lien-cgu" id="lien-cgu" data-toggle="modal" data-target="#CGUPopUp">conditions générales d'utilisation</a>
  </label>
  <span class="help-block text-danger" *ngIf="!inputCgu.valid && inputCgu.touched">Les conditions générales d'utilisation sont obligatoires.</span>
  <div class="modal fade" id="CGUPopUp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="title-cgu"><strong>Conditions Générales d'Utilisation</strong></h4>
            </div>
            <div class="modal-body">
                <h5><strong>Conditions de service</strong></h5>
                    <p class="text-cgu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim odio vitae nibh volutpat blandit.
                        Integer massa elit, sodales vitae purus quis, tempus aliquet quam. Vivamus pharetra nunc sed est malesuada vulputate.
                        Fusce imperdiet lacus sit amet erat vehicula, vitae suscipit ex pharetra. Quisque in velit sem. Mauris malesuada tellus et mi tempus cursus.
                        Morbi ut diam aliquet, bibendum libero porta, finibus augue. Maecenas pharetra vulputate sapien in mattis. Pellentesque gravida pharetra facilisis.
                        Nullam libero nulla, gravida dapibus mi ut, finibus malesuada neque. Nunc tincidunt sed odio sed pretium.
                        Nullam ac dolor sit amet sapien porttitor semper in eu risus. Fusce ante erat, aliquet et ullamcorper in, venenatis sed nisl.
                        Donec venenatis dui mi, nec tempus mi ultrices vehicula. Proin blandit mauris urna, quis tempor lacus lobortis at.
                        Aenean mattis ipsum augue, a mattis nibh ultrices nec. Sed condimentum, odio eget fermentum viverra, lorem ante elementum justo, at auctor enim lorem in tellus.
                        Mauris euismod rhoncus quam, vitae blandit est porttitor non. Aliquam molestie diam sed finibus fringilla. Quisque hendrerit sit amet nisi id blandit.
                        Quisque viverra mattis elit, id porttitor tellus ultricies mollis. In vel aliquam ex, quis mollis magna. Nullam aliquet imperdiet laoreet.
                        Sed pharetra, ipsum et mollis ultricies, felis arcu semper ipsum, quis vehicula justo metus sed urna. Morbi urna nulla, lobortis sit amet tempus quis, auctor eget elit.
                        Nullam laoreet eu quam et aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id leo sit amet velit tincidunt vehicula.
                        Nam sollicitudin dignissim pretium. Suspendisse egestas tristique neque, nec elementum lorem vestibulum ut. Quisque egestas ex et dictum mattis.
                        Phasellus sed magna sed dolor varius dignissim et ac justo. Integer ligula elit, maximus ut posuere eu, porttitor vel purus.
                    </p>
                <h5><strong>Politique d'utilisation des données</strong></h5>
                    <p class="text-cgu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim odio vitae nibh volutpat blandit.
                        Integer massa elit, sodales vitae purus quis, tempus aliquet quam. Vivamus pharetra nunc sed est malesuada vulputate.
                        Fusce imperdiet lacus sit amet erat vehicula, vitae suscipit ex pharetra. Quisque in velit sem. Mauris malesuada tellus et mi tempus cursus.
                        Morbi ut diam aliquet, bibendum libero porta, finibus augue. Maecenas pharetra vulputate sapien in mattis. Pellentesque gravida pharetra facilisis.
                        Nullam libero nulla, gravida dapibus mi ut, finibus malesuada neque. Nunc tincidunt sed odio sed pretium.
                        Nullam ac dolor sit amet sapien porttitor semper in eu risus. Fusce ante erat, aliquet et ullamcorper in, venenatis sed nisl.
                        Donec venenatis dui mi, nec tempus mi ultrices vehicula. Proin blandit mauris urna, quis tempor lacus lobortis at.
                        Aenean mattis ipsum augue, a mattis nibh ultrices nec. Sed condimentum, odio eget fermentum viverra, lorem ante elementum justo, at auctor enim lorem in tellus.
                        Mauris euismod rhoncus quam, vitae blandit est porttitor non. Aliquam molestie diam sed finibus fringilla. Quisque hendrerit sit amet nisi id blandit.
                        Quisque viverra mattis elit, id porttitor tellus ultricies mollis. In vel aliquam ex, quis mollis magna. Nullam aliquet imperdiet laoreet.
                        Sed pharetra, ipsum et mollis ultricies, felis arcu semper ipsum, quis vehicula justo metus sed urna. Morbi urna nulla, lobortis sit amet tempus quis, auctor eget elit.
                        Nullam laoreet eu quam et aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id leo sit amet velit tincidunt vehicula.
                        Nam sollicitudin dignissim pretium. Suspendisse egestas tristique neque, nec elementum lorem vestibulum ut. Quisque egestas ex et dictum mattis.
                        Phasellus sed magna sed dolor varius dignissim et ac justo. Integer ligula elit, maximus ut posuere eu, porttitor vel purus.
                    </p>
                <h5><strong>Standards de la communauté</strong></h5>
                    <p class="text-cgu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dignissim odio vitae nibh volutpat blandit.
                        Integer massa elit, sodales vitae purus quis, tempus aliquet quam. Vivamus pharetra nunc sed est malesuada vulputate.
                        Fusce imperdiet lacus sit amet erat vehicula, vitae suscipit ex pharetra. Quisque in velit sem. Mauris malesuada tellus et mi tempus cursus.
                        Morbi ut diam aliquet, bibendum libero porta, finibus augue. Maecenas pharetra vulputate sapien in mattis. Pellentesque gravida pharetra facilisis.
                        Nullam libero nulla, gravida dapibus mi ut, finibus malesuada neque. Nunc tincidunt sed odio sed pretium.
                        Nullam ac dolor sit amet sapien porttitor semper in eu risus. Fusce ante erat, aliquet et ullamcorper in, venenatis sed nisl.
                        Donec venenatis dui mi, nec tempus mi ultrices vehicula. Proin blandit mauris urna, quis tempor lacus lobortis at.
                        Aenean mattis ipsum augue, a mattis nibh ultrices nec. Sed condimentum, odio eget fermentum viverra, lorem ante elementum justo, at auctor enim lorem in tellus.
                        Mauris euismod rhoncus quam, vitae blandit est porttitor non. Aliquam molestie diam sed finibus fringilla. Quisque hendrerit sit amet nisi id blandit.
                        Quisque viverra mattis elit, id porttitor tellus ultricies mollis. In vel aliquam ex, quis mollis magna. Nullam aliquet imperdiet laoreet.
                        Sed pharetra, ipsum et mollis ultricies, felis arcu semper ipsum, quis vehicula justo metus sed urna. Morbi urna nulla, lobortis sit amet tempus quis, auctor eget elit.
                        Nullam laoreet eu quam et aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id leo sit amet velit tincidunt vehicula.
                        Nam sollicitudin dignissim pretium. Suspendisse egestas tristique neque, nec elementum lorem vestibulum ut. Quisque egestas ex et dictum mattis.
                        Phasellus sed magna sed dolor varius dignissim et ac justo. Integer ligula elit, maximus ut posuere eu, porttitor vel purus.
                    </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-fermer-cgu" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
  <button class="btn btn-info" id="btn-valider" type="submit">Valider</button>
</form>

<p id="seconnecter">
  <a routerLink="/connexion" id="lien-connexion">Se connecter</a>
</p>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Chargement en cours, veuillez patienter.</p>
</ngx-spinner>
