<h3 class="detail-message"><strong>Informations complémentaires</strong></h3>

<div class="jumbotron" id="encadre">
  <h2 class="display-4">Docteur<span id="prenom"> {{ specialiste.prenom }}</span><span id="nom"> {{ specialiste.nom }}</span></h2>
  <p class="lead" id="specialite">{{ specialiste.specialite }}</p>
  <hr class="my-4">
  <p><span id="adresse">{{ specialiste.adresse }}</span></p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Prendre rendez-vous</a>
  </p>
</div>

<div class="text-center">
  <a class="btn btn-secondary btn-lg" id="btnRetour" routerLink="/specialistes" role="button">Retour</a>
</div>
