.detail-message {
  color:#0A7A87;
  text-align:center;
  margin-top:1%;
}

#encadre {
  background-color:#e7f4fa;
  border-color:#ceeaf4;
  margin-top:2%;
  margin-bottom:2%;
  text-align:center;
}

#specialite {
  font-size:2em;
  color:grey;
}

#adresse {
  font-size:1.1em;
}

#btnRdv {
  margin-top:0.5%;
  margin-bottom:-2%;
}

#btnRetour {
  margin-bottom:3.15%;
  opacity:0.5;
}
