<h3 id="rdv">Prendre/Modifier un rendez-vous</h3>

<form id="form-rdv" action="">
  <input type="text" name="nom-specialiste" placeholder="Nom du spécialiste" class="form-control" id="input-nom-specialiste" required>
  <input type="text" name="specialite" placeholder="Spécialité" class="form-control" id="input-specialite" required>
  <input type="date" name="date" placeholder="Date" class="form-control" id="input-date" required>
  <input type="time" name="horaire" placeholder="Horaire" class="form-control" id="input-horaire" required>
  <input type="submit" value="Confirmer" class="btn btn-info" id="btn-valider">
</form>
