<header>
  <app-navbar></app-navbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="bg-info text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">EN BREF</h5>
          <p>
            MediConsult, c'est bien plus qu'une application :
            elle permet de rapprocher médecins et patients.
            Depuis un ordinateur ou un smartphone, prenez rendez-vous
            avec un professionnel près de chez vous, ou, si vous êtes un spécialiste,
            consultez les informations relatives à vos patients !
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">CONTACT</h5>
          <p>
            40 rue Isaac Holden Crothers, 59170 Croix
            contact@mediconsult.fr
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">MediConsult</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">À propos de nous</a>
            </li>
            <li>
              <a href="#!" class="text-white">Besoin d'aide ?</a>
            </li>
            <li>
              <a href="#!" class="text-white">Conditions générales d'utilisation</a>
            </li>
            <li>
              <a href="#!" class="text-white">Mentions légales</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright: MediConsult, tous droits réservés.
    </div>
  </footer>
