<input type="text" name="nom" placeholder="Nom" class="form-control" id="input-nom" required>
<input type="text" name="prenom" placeholder="Prénom" class="form-control" id="input-prenom" required>
<input type="number" name="age" placeholder="Âge" class="form-control" id="input-age" required>
<input type="text" name="email" placeholder="Adresse email" class="form-control" id="input-email" required>
<input type="text" name="mdp" placeholder="Mot de passe" class="form-control" id="input-mdp" required>
