#input-nom {
  text-align:center;
  margin-bottom:6%;
}

#input-prenom {
  text-align:center;
  margin-bottom:6%;
}

#input-age {
  text-align:center;
  margin-bottom:6%;
}

#input-email {
  text-align:center;
  margin-bottom:6%;
}

#input-mdp {
  text-align:center;
  margin-bottom:6%;
}
