<div class="jumbotron" id="encadre">
  <h2 class="display-4">Docteur<span id="prenom"> Prénom</span><span id="nom"> NOM</span></h2>
  <p class="lead" id="specialite">Spécialité</p>
  <hr class="my-4">
  <p><span id="adresse">Adresse</span> || <span id="telephone">Téléphone</span> || <span id="horaires">Horaires</span> || <span id="moyensPaiement">Moyens de paiement</span></p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Prendre rendez-vous</a>
  </p>
</div><br>

<a class="btn btn-secondary btn-lg" href="#" role="button">Retour</a>
