#connexion {
  color:#0A7A87;
  text-align:center;
  margin-top:1%;
  margin-bottom:2%;
}

#form-connexion, #select-profil {
  text-align:center;
  margin-left:35%;
  width:30%;
}

#profil-user {
  text-align:center;
  margin-bottom:2%;
}

input.ng-invalid.ng-touched {
  border : 1px solid red;
}

#input-email {
  text-align:center;
}

#input-mdp {
  text-align:center;
}

#btn-valider {
  margin-top:4%;
}

#sinscrire {
  text-align:center;
  margin-top:1%;
  margin-bottom:3%;
}

  #lien-inscription:link {
    color:#0A7A87;
  }

  #lien-inscription:visited {
    color:#0A7A87;
  }

  #lien-inscription:focus {
    background: none;
    text-decoration:none;
  }

  #lien-inscription:hover {
    background: none;
    text-decoration:none;
  }
