<h3 class="welcome-message"><strong>Bienvenue sur MediConsult ! </strong></h3>

<div class="text-center" id="explication-message">
  <h6 id="why-message">Pourquoi prendre rendez-vous sur notre plate-forme ?</h6>
  <p id="reasons-message">En quelques clics, 24h/24 et 7j/7,</p>
  <p id="reasons-message">prendre rendez-vous ave des spécialistes agréés,</p>
  <p id="reasons-message">près de chez vous, n'a jamais été aussi simple !</p>
  <p id="reasons-message">Et retrouvez l'ensemble de vos rendez-vous passés et à venir sur votre compte.</p>
</div>

<h4 class="welcome-message">Que voulez-vous faire ?</h4>

<div class="text-center">
  <a routerLink="/connexion" class="text-center btn btn-info" role="button" id="btn-connexion">CONNEXION</a><br>
</div><br>

<div class="text-center">
  <a routerLink="/inscription" class="text-center btn btn-info" role="button" id="btn-inscription">INSCRIPTION</a><br>
</div>
